.component-3{
    background-color: $bg-black;
    padding-top: 48px;
    padding-bottom: 55px;
    position: relative;
    .main-pic{
        background-color: $bg-white;
    }
    .gallery{
        h4{
            color: $primary-font;
            font-size: 30px;
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
            margin-bottom: 38px;
            letter-spacing: $montserrat-spacing;
        }
        .gallery-cont{
            display: flex;
            .img-item{
                background-color: $bg-white;
                width: 107px;
                height: 100px;
                &:hover{
                    border: 7px solid #FF4242;
                }
            }
        }
    }

}