@media screen and (min-width: $min-bp-desktop) {
    .component-1{
        .top{
            margin-left: 200px;
            @media screen and (max-width: 1240px){
                margin-left: 80px;
            }
            .content{
                width: 350px;
            }
        }
    }
}