@media screen and (min-width: 320px) and (max-width: 767px){
    .component-1{
        .top{
            display: flex;
            justify-content: center;
            .content{
                z-index: 1;
                .icon-box{
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    i{
                        &.fa-location-dot{
                            border-width: 1px 1px 0 1px;
                        }
                    }
                }
            }
            .burger{
                position: relative;
                z-index: 2;
                margin-left: -63px;
                margin-top: 13.5px;
            }
        }
        .bottom{
            .gray-box{
                display: none;
            }
            .black-box{
                .angle-box{
                    display: none;
                }
            }
        }
    }
}