@media screen and (min-width: $min-bp-mobile) and (max-width: $max-bp-mobile){
    .component-1{
        .top{
            margin-left: 25px;
            .content{
                width: 271px;
                z-index: 1;
                img{
                    height: 60px;
                    width: 180px;
                }
                h4{
                    margin-bottom: 15px;
                }
                h6{
                    font-size: 14px;
                    letter-spacing: 0.1px;
                }
                h5{
                    font-size: 16px;
                }
                .icon-box{
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    i{
                        &.fa-location-dot{
                            border-width: 1px 1px 0 1px;
                        }
                    }
                }
            }
            .burger{
                position: relative;
                z-index: 2;
                margin-left: -63px;
                margin-top: 13.5px;
            }
        }
        .bottom{
            .gray-box{
                display: none;
            }
            .black-box{
                .angle-box{
                    display: none;
                }
            }
        }
    }
}