.component-1{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: $montserrat-spacing;
    background-color: #EEEEEE;
    .top{
        .content{
            background-color: $bg-red;
            height: 422px;
            flex-direction: column;
            position: relative;
            padding: 0 35px 0 34px;
            img{
                width: 224px;
                height: 71px;
                margin-bottom: 20px;
                position: absolute;
                left: 0;
                top: 25px;
            }
            p{
                color: $primary-font;
                font-size: 10px;
                background-color: $bg-black;
                width: 100px;
                height: 20px;
                margin-bottom: 3px;
                margin-top: 118px;
            }
            h4{
                letter-spacing: -0.4px;
                color: $primary-font;
                font-size: 26px;
                font-weight: bold;
                margin-bottom: 13px;
                span{
                    font-size: 22px;
                    letter-spacing: inherit;
                }
            }
            h6{
                color: $primary-font;
                font-family: 'Open Sans', sans-serif;
                font-weight: 300;
                font-size: 16px;
                line-height: 20px;
                padding: 17px 0 20px 0;
                border: solid #F48E8F;
                border-width: 1px 0 1px 0;
                margin-bottom: 17px;
            }
            h5{
                font-size: 18px;
                color: $primary-font;
                i{  
                    color: $bg-red;
                    background-color: $bg-black;
                    padding: 1px 5px;
                    border-radius: 50%;
                    margin-right: 8px;
                    font-size: 19px;
                }
            }
            .icon-box{
                position: absolute;
                right: 0;
                bottom: 0;
                i{
                    border: solid #F48E8F;
                    border-width: 1px 0 0 1px;
                    color: $primary-font;
                    &:hover{
                        color: black;
                        cursor: pointer;
                    }
                }
                .fa-eye{
                    color: $primary-font;
                    font-size: 20px;
                    padding: 8px 10px 8px 10px;
                }
                .fa-image{
                    color: $primary-font;
                    font-size: 21px;
                    padding: 12px 10px 10px 13px;
                }
                .fa-location-dot{
                    color: $primary-font;
                    font-size: 20px;
                    padding: 12px 14px 10px 13px;
                }
            }

        }
        .burger{
            background-color: $bg-black;
            width: 63px;
            height: 59px;
        }
    }
    .bottom{
        height: 62px;
        .gray-box{
            float: left;
            height: inherit;
            background-color: #DBDBDB;
            width: 550px;
        }
        .black-box{
            height: inherit;
            background-color: $bg-black;
            width: 100%;
            justify-content: flex-end;
            .angle-box{
                position: absolute;
                right: 149px;
                height: inherit;
                i{
                    height: inherit;
                    width: 56px;
                    border: solid #707070;
                    color: $primary-font;
                    font-size: 28px;
                    &.fa-angle-left{
                        border-width: 0 1px 0 1px;
                    }
                    &.fa-angle-right{
                        border-width: 0 1px 0 0;
                    }
                }
            }
        }
    }
}