@media screen and (min-width: $min-bp-desktop) {
    .component-5{
        img{
            margin-left: 200px;
            margin-top: 45px;
        }
        ul{
            margin-left: 353px;
            margin-top: 75px;
        }
        i{
            right: 32px;
            top: 63px;
        }
    }
}