@media screen and (min-width: $min-bp-mobile) and (max-width: $max-bp-mobile){
    .component-5{
        img{
            height: 90px;
            width: 192px;
            margin-top: 18px;
        }
        i{
            top: 28px;
            right: 7px;
        }
        ul{
            position: absolute;
            top: 109px;
            left: 26px;
            li{
                font-size: 12px;
            }
        }
    }
}