.component-5{
    height: 163px;
    background-color: $bg-black;
    position: relative;
    img{
        height: 100px;
        width: 220px;
    }
    ul{
        li{
            color: $primary-font;
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            margin-right: 5px;
            cursor: pointer;
            &:hover{
                text-decoration: underline solid $primary-hover;
                text-underline-offset: 5.6px;
            }
        }
    }
    i{
        position: absolute;
        font-size: 30px;
        color: $primary-font;
        border: 1px solid $secondary-border;
        padding: 4px 7px;
        cursor: pointer;
        &:hover{
            color: $primary-hover;
        }
    }
}