@media screen and (min-width: $min-bp-desktop) {
    .component-2{
        .left{
            width: 550px;
            height: 524px;
            background-color: #DBDBDB;
            div{
                float: right;
                height: inherit;
                width: 350px;
                background-color: #898989;
                @media screen and (max-width: 1240px){
                    margin-left: 80px;
                    float: unset;
                }
            }
        }
        .right{
            padding: 43px 0 0 48px;
            h6{
                width: 578px;
            }
            & > p{
                width: 530px;
            }
        }
    }
}