@media screen and (min-width: $min-bp-mobile) and (max-width: $max-bp-mobile){
    .component-2{
        .right{
            h4{
                margin: 40px 0 25px 98px;
                font-size: 24px;
            }
            h6{
                width: 89.4%;
                font-size: 18px;
                text-align: center;
                margin-left: 25px;
                margin-bottom: 23px;
            }
            div{
                flex-direction: column;
                width: 88%;
                text-align: center;
                margin-left: 28px;
                font-size: 14px;
                margin-bottom: 19px;
                p:nth-child(1){
                    width: 100%;
                    margin-bottom: 14px;
                }
                p:nth-child(2){
                    width: 100%;;
                }
            }
            & > p{
                margin-left: 28px;
                width: 88%;
                text-align: center;
                margin-bottom: 55px;
            }
        }
    }
}