@media screen and (min-width: $min-bp-tablet) and (max-width: $max-bp-tablet){
    .component-2{
        .left{
            display: none;
        }
        .right{
            padding: 42px 0 0 89px;
            h6{
                width: 595px;
            }
            & > p{
                width: 589px;
                margin-bottom: 65px;
            }
        }
    }
}