// Colors

// Background colors
$bg-black: #111111;
$bg-white: #ffffff;
$bg-gray: #DBDBDB;
$bg-red: #ED1C24;

// Font colors
$primary-font: #ffffff;
$secondary-font: #222222;

// Text decoration colors
$text-underline: #EAEAEA;

// Border colors
$primary-border: #F48E8F;
$secondary-border: #707070;

// Hover
$primary-hover: #ED1C24;
$secondary-hover: black;

