.flex{
    display: flex;
}
.h-center{
    display: flex;
    justify-content: center;
}
.v-center{
    display: flex;
    align-items: center;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}