* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.flex {
  display: flex;
}

.h-center {
  display: flex;
  justify-content: center;
}

.v-center {
  display: flex;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.component-1 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.2px;
  background-color: #EEEEEE;
}
.component-1 .top .content {
  background-color: #ED1C24;
  height: 422px;
  flex-direction: column;
  position: relative;
  padding: 0 35px 0 34px;
}
.component-1 .top .content img {
  width: 224px;
  height: 71px;
  margin-bottom: 20px;
  position: absolute;
  left: 0;
  top: 25px;
}
.component-1 .top .content p {
  color: #ffffff;
  font-size: 10px;
  background-color: #111111;
  width: 100px;
  height: 20px;
  margin-bottom: 3px;
  margin-top: 118px;
}
.component-1 .top .content h4 {
  letter-spacing: -0.4px;
  color: #ffffff;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 13px;
}
.component-1 .top .content h4 span {
  font-size: 22px;
  letter-spacing: inherit;
}
.component-1 .top .content h6 {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  padding: 17px 0 20px 0;
  border: solid #F48E8F;
  border-width: 1px 0 1px 0;
  margin-bottom: 17px;
}
.component-1 .top .content h5 {
  font-size: 18px;
  color: #ffffff;
}
.component-1 .top .content h5 i {
  color: #ED1C24;
  background-color: #111111;
  padding: 1px 5px;
  border-radius: 50%;
  margin-right: 8px;
  font-size: 19px;
}
.component-1 .top .content .icon-box {
  position: absolute;
  right: 0;
  bottom: 0;
}
.component-1 .top .content .icon-box i {
  border: solid #F48E8F;
  border-width: 1px 0 0 1px;
  color: #ffffff;
}
.component-1 .top .content .icon-box i:hover {
  color: black;
  cursor: pointer;
}
.component-1 .top .content .icon-box .fa-eye {
  color: #ffffff;
  font-size: 20px;
  padding: 8px 10px 8px 10px;
}
.component-1 .top .content .icon-box .fa-image {
  color: #ffffff;
  font-size: 21px;
  padding: 12px 10px 10px 13px;
}
.component-1 .top .content .icon-box .fa-location-dot {
  color: #ffffff;
  font-size: 20px;
  padding: 12px 14px 10px 13px;
}
.component-1 .top .burger {
  background-color: #111111;
  width: 63px;
  height: 59px;
}
.component-1 .bottom {
  height: 62px;
}
.component-1 .bottom .gray-box {
  float: left;
  height: inherit;
  background-color: #DBDBDB;
  width: 550px;
}
.component-1 .bottom .black-box {
  height: inherit;
  background-color: #111111;
  width: 100%;
  justify-content: flex-end;
}
.component-1 .bottom .black-box .angle-box {
  position: absolute;
  right: 149px;
  height: inherit;
}
.component-1 .bottom .black-box .angle-box i {
  height: inherit;
  width: 56px;
  border: solid #707070;
  color: #ffffff;
  font-size: 28px;
}
.component-1 .bottom .black-box .angle-box i.fa-angle-left {
  border-width: 0 1px 0 1px;
}
.component-1 .bottom .black-box .angle-box i.fa-angle-right {
  border-width: 0 1px 0 0;
}

@media screen and (min-width: 1025px) {
  .component-1 .top {
    margin-left: 200px;
  }
  .component-1 .top .content {
    width: 350px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .component-1 .top .content {
    margin-left: 42px;
    width: 344px;
  }
  .component-1 .top .burger {
    background-color: #111111;
    width: 63px;
    height: 59px;
  }
  .component-1 .bottom {
    height: 62px;
  }
  .component-1 .bottom .gray-box {
    width: 42px;
  }
  .component-1 .bottom .black-box .angle-box {
    right: 20px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .component-1 .top {
    margin-left: 25px;
  }
  .component-1 .top .content {
    width: 271px;
    z-index: 1;
  }
  .component-1 .top .content img {
    height: 60px;
    width: 180px;
  }
  .component-1 .top .content h4 {
    margin-bottom: 15px;
  }
  .component-1 .top .content h6 {
    font-size: 14px;
  }
  .component-1 .top .content h5 {
    font-size: 16px;
  }
  .component-1 .top .content .icon-box {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .component-1 .top .content .icon-box i.fa-location-dot {
    border-width: 1px 1px 0 1px;
  }
  .component-1 .top .burger {
    position: relative;
    z-index: 2;
    margin-left: -63px;
    margin-top: 13.5px;
  }
  .component-1 .bottom .gray-box {
    display: none;
  }
  .component-1 .bottom .black-box .angle-box {
    display: none;
  }
}
.component-2 .right h4 {
  letter-spacing: -0.2px;
  color: #222222;
  font-size: 30px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 43px;
}
.component-2 .right h6 {
  font-family: "Open Sans", sans-serif;
  color: #222222;
  font-weight: 300;
  line-height: 30px;
  text-decoration: underline solid #EAEAEA;
  text-underline-offset: 5.6px;
  font-size: 20px;
  margin-bottom: 31px;
}
.component-2 .right div {
  justify-content: space-between;
  width: 595px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #222222;
  margin-bottom: 30px;
}
.component-2 .right div p:nth-child(1) {
  width: 253px;
  line-height: 20px;
}
.component-2 .right div p:nth-child(2) {
  width: 300px;
  line-height: 18px;
}
.component-2 .right > p {
  font-family: "Open Sans", sans-serif;
  line-height: 20px;
  font-size: 14px;
  font-weight: 300;
  color: #222222;
}

@media screen and (min-width: 1025px) {
  .component-2 .left {
    width: 550px;
    height: 524px;
    background-color: #DBDBDB;
  }
  .component-2 .left div {
    float: right;
    height: inherit;
    width: 350px;
    background-color: #898989;
  }
  .component-2 .right {
    padding: 43px 0 0 48px;
  }
  .component-2 .right h6 {
    width: 578px;
  }
  .component-2 .right > p {
    width: 530px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .component-2 .left {
    display: none;
  }
  .component-2 .right {
    padding: 42px 0 0 89px;
  }
  .component-2 .right h6 {
    width: 595px;
  }
  .component-2 .right > p {
    width: 589px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .component-2 .right h4 {
    margin: 40px 0 25px 98px;
    font-size: 24px;
  }
  .component-2 .right h6 {
    width: 89.4%;
    font-size: 18px;
    text-align: center;
    margin-left: 25px;
    margin-bottom: 23px;
  }
  .component-2 .right div {
    flex-direction: column;
    width: 88%;
    text-align: center;
    margin-left: 28px;
    font-size: 14px;
    margin-bottom: 19px;
  }
  .component-2 .right div p:nth-child(1) {
    width: 100%;
    margin-bottom: 14px;
  }
  .component-2 .right div p:nth-child(2) {
    width: 100%;
  }
  .component-2 .right > p {
    margin-left: 28px;
    width: 88%;
    text-align: center;
  }
}
.component-3 {
  display: none;
  background-color: #111111;
  padding-top: 48px;
  padding-bottom: 60px;
}
.component-3 .main-pic {
  margin-top: 5px;
  margin-left: 200px;
  margin-right: 29px;
  width: 621px;
  height: 408px;
  background-color: #ffffff;
}
.component-3 .gallery h4 {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 38px;
}
.component-3 .gallery .gallery-cont {
  width: 355px;
  height: 345px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}
.component-3 .gallery .gallery-cont .img-item {
  background-color: #ffffff;
  width: 107px;
  height: 100px;
}
.component-3 .gallery .gallery-cont .img-item:hover {
  border: 7px solid #FF4242;
}

.component-4 {
  display: none;
  height: 439px;
  width: 100%;
  background: url(../assets/map-background.png);
}
.component-4 > div {
  flex-direction: column;
  background-color: #ED1C24;
  width: 349px;
  height: inherit;
  margin-left: 200px;
  padding: 0 55px;
}
.component-4 > div h4 {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  margin-top: 65px;
  margin-bottom: 20px;
}
.component-4 > div .location-icon {
  padding: 6px 10px;
  border-radius: 50%;
  background-color: #ffffff;
  margin-bottom: 15px;
}
.component-4 > div hr {
  margin-top: 16px;
  background-color: #F48E8F;
  width: 100%;
  height: 1px;
  border: none;
  margin-bottom: 23px;
}
.component-4 > div .location-p {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}
.component-4 > div .direction {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 25px;
}
.component-4 > div div {
  width: inherit;
}
.component-4 > div div img {
  box-sizing: content-box;
  border: solid #F48E8F;
}
.component-4 > div div img:nth-child(1) {
  width: 14px;
  height: 24px;
  padding: 8px 14px 11px 16px;
  border-width: 1px;
}
.component-4 > div div img:nth-child(2) {
  width: 26px;
  height: 12px;
  padding: 16px 9px 15px 8px;
  border-width: 1px 0;
}
.component-4 > div div img:nth-child(3) {
  width: 16px;
  height: 26px;
  padding: 7.5px 14px 10px 13px;
  border-width: 1px;
}

/*# sourceMappingURL=index.css.map */
